.App-header {
  background: #131324;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px+2vmin);
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5vh;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}

.editor-class {
  background: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
  max-height: 100px;
  overflow: auto;
}

.editor-class::-webkit-scrollbar {
  width: 0.3rem;
}

.editor-class::-webkit-scrollbar-thumb {
  width: 0.3rem;
  border-radius: 0.3rem;
  background: red;
}

.toolbar-class {
  border: 1px solid #ccc;
  background: #131324;
}

.preview {
  padding: 3rem 2rem;
  overflow-wrap: break-word;
  overflow: auto;
  max-height: 400px;
  /* color: #282c34; */
}

.preview::-webkit-scrollbar {
  width: 0.3rem;
}

.preview::-webkit-scrollbar-thumb {
  width: 0.3rem;
  border-radius: 0.3rem;
  background: rgb(228, 52, 52);
}
